@font-face {
  font-family: fontBody;
  src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

/*
     COLOR PRINCIPAL --------------------------------------------------------
    */
body {
  color: rgb(152, 207, 255);
}
body {
  background-color: rgb(74, 132, 182);
}

/*
     COLOR DE DESTAQUE 1 ---------
    */
legend,
h1,
a:visited,
a:link {
  color: rgb(250, 253, 255)
}

/*
     COLOR DE DESTAQUE 2 --------
    */
h3,
h2 {
  color: #ffc3b4;
  color: #ffe3b0;
}
/*
    FONDO 1 -------------
    */
header,
article,
footer,
form,
legend,
h3,
h2,
blockquote {
  background-color: rgba(0, 6, 24, 0.562);
}

/*
     ESTILOS --------------------------------------------------------
    */
* {
  padding: 0.5em;
}
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: fontBody;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

article {
  margin-bottom: 0.5em;
}
h2{
  padding-left: 3em;
}
/*
     MENU DE NAVEGACION --------------------------------------------------------
    */
header * {
  padding: 0.3em;
  margin: 0;
  display: flex;
}
header div {
  display: flex;
}
header h4 {
  padding: 1em 0;
  align-items: center;
  justify-content: center;

}
nav ul {
  list-style-type: none;
}
li {
  margin: 0.3em;
  padding: 0 1em;
  text-align: justify;

  background-color: rgba(0, 0, 0, 0.293);
}

a {
  text-decoration: none;
}

img,
figure {
  width: 150px;
}
footer {
  justify-self: flex-end;
}
footer,
footer > * {
  margin: 0;
  padding-bottom: 0.01;
  flex-flow: row-reverse;
}
